<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1051634310905-bfjp3ops2ecars6ridjidsre0cok13nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051634310905-bfjp3ops2ecars6ridjidsre0cok13nn</string>
	<key>API_KEY</key>
	<string>AIzaSyAouln0YfrLwzJobenozxjGliZUysxyw6M</string>
	<key>GCM_SENDER_ID</key>
	<string>1051634310905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fithome</string>
	<key>PROJECT_ID</key>
	<string>fithome-3b284</string>
	<key>STORAGE_BUCKET</key>
	<string>fithome-3b284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051634310905:ios:896e71d6ea069137</string>
	<key>DATABASE_URL</key>
	<string>https://fithome-3b284.firebaseio.com</string>
</dict>
</plist>